.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}


@font-face {
    font-family: 'sinkin';
    src: url('../fonts/sinkinsans-400regular-webfont.eot');
    src: url('../fonts/sinkinsans-400regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-400regular-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-400regular-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-400regular-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-400regular-webfont.svg#sinkin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sinkin';
    src: url('../fonts/sinkinsans-300light-webfont.eot');
    src: url('../fonts/sinkinsans-300light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-300light-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-300light-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-300light-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-300light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: 300;
    font-style: normal;

}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b2881c;
    color:black;
    text-shadow: none;
}

::selection {
    background: #b2881c;
    color:black;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* CUSTOM */

body {
    background:#0f0f0f url('../img/background.jpg') center center;
    border-top:10px solid rgba(255,255,255,0.15);
    font-family:'sinkin',sans-serif;
}

img {
    max-width: 100%;
}

.main-container {
    width:70%;
    margin:0 auto;
    position:relative;
    z-index:1;
}

.main-container .wrapper{
    margin:0 auto;
    width:100%;
}
.main-container section{
    box-sizing:border-box;
    float:left;
    margin:0 0 0  5%;
    width:45%;
}


.main-container section + section{
    margin:0  5% 0 0;
}
.main-container section:nth-child(2n){
    clear:both;
}

.main-container section.me-myself-and-i {
    margin: 0 auto;
    width:100%;
}
.main-container .me-myself-and-i:hover p{
    color:rgba(255,255,255,0.5);
}

.wrapper .picture {
    margin:40px auto;
    width:400px;
    max-width:400px;
}

.wrapper .picture img{
    border-radius: 200px;
    border:10px solid rgba(255,255,255,0.15);
    box-sizing: border-box;
    /**/
    -webkit-box-shadow: 0 0 250px 0 rgba(255,255,255,0.2);
    box-shadow: 0 0 250px 0 rgba(255,255,255,0.2);
}

h1,
h1 p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 21px;
    font-weight: 300;
    float:right;
    line-height: 30px;
    margin:0 0 20px;
    text-align: right;
    /**/
    text-shadow: 0 2px 2px #000000;
}

h1 .yellow {
    color:#F1B22F;
}

p,a {
    color:rgba(255,255,255,0.5);
    font-family:'sinkin',sans-serif;
    font-size:12px;
    line-height: 16px;
    margin: 0 0 10px;
    /**/
    transition: all 0.5s ease 0s;
    text-shadow: 0 2px 2px #000000;
}

a {
    color:rgba(255,255,255,0.6);
}

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -20px;
  color: #FFFFFF;
  background: rgba(0,0,0,0.5);
  opacity:0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding:0 10px;
  border-radius: 25px;
  box-shadow: 0px 3px 3px #000000;
  transition: all 0.5s ease 0s;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid rgba(0,0,0,0.5);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  opacity:1;
  bottom: 30px;
  left: 50%;
  margin-left: -20px;
  z-index: 999;
}

hr {
    border-top: 1px dotted rgba(255,255,255,0.1);
    margin:30px 0;
}

.breaker {
    display: inline-block;
    width: 10px;
}

.me-myself-and-i h1 {
    font-size:24px;
}

.me-myself-and-i p {
    font-size: 15px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 0;
}

.me-myself-and-i a {
    color:#F1B22F;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.me-myself-and-i a:hover {
    color:white;
}

section {
    display: block;
    margin: 0 auto 20px;
    width: 800px;
}

section:last-child,
section + section:last-child {
    margin: 0 auto 60px;
}

section .white {
    color:rgba(255,255,255,0.9);    
    line-height: 18px;
}

section header {
    float: left;
    width: 40%;
}

section h1 {
    line-height: 32px;
    float:right;
}

section .fa-stack {
    color:#317E91;
    font-size:16px;
    font-weight: normal;
    margin: 2px 0px 0px 10px;
    float: right;
}

section .fa-stack-1x {
  color:rgba(255, 255, 255, 0.8);
}

section article {
    box-sizing:border-box;
    float: left;
    width: 60%;
}


section ul,
section li {
    margin:0;
    padding: 0;
}

section li {
    list-style-type: none;
    padding: 7px 0 10px 27px;
    position:relative;
    transition: all 0.5s ease 0s;
}

section li .bullet {
    float:left;
}

section li .bullet:after {
    border-left: 2px solid rgba(255, 255, 255, 0.15);
    bottom: 0;
    content: "";
    display: block;
    height: auto;
    left: 33px;
    position: absolute;
    top: 34px;
    transition: all 0.5s ease 0s;
}


section li:last-child .bullet:after {
    display: none;
}

section li .bullet .fa {
    font-size: 16px;
    margin: 3px 0 0 0;
    transition: all 0.5s ease 0s;
}

section li .bullet .fa-2x {
  font-size: 24px;
  margin: -1px 0 0 2px;
}

section li:hover .bullet .fa {
    color:#F1B22F;
}

section li .content {
    margin: 2px 0 0 37px;
}

section li p {
    opacity:0.5;
}

section li:hover p {
    opacity:1;
}

section .content .fa{
    color:rgba(255,255,255,0.6);
    font-size: 18px;
    margin:0 10px 0 0;
}

.skills .content .fa{
    margin:0 10px 0 0px;
}

section a.white {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
    color:rgba(255,255,255,0.6);
    outline: medium none;
    outline-offset: 0;
    padding-bottom: 5px;
    text-decoration: none;

    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease 0s;
}

section a.white:after{
    background-color: #fff;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: -100%;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 100%;
}
section a.white:hover:after {
    left: 0;
    transition: all 0.5s ease 0s;
}

section.me-myself-and-i header,
section.me-myself-and-i article,
section.me-myself-and-i h1{
  float:none;
  text-align: left;
  width: 100%;
}

section.me-myself-and-i header,
section.me-myself-and-i article {
}

@media screen and (max-width: 1500px) {
    .main-container {
        width:80%;
        margin:0 auto;
    }
}

@media screen and (max-width: 1400px) {
    .main-container {
        width:80%;
        margin:0 auto;
    }

    .wrapper .picture {
        width: 300px;
    }

    .me-myself-and-i h1 {
      font-size: 16px;
    }

    .me-myself-and-i p {
      font-size: 12px;
      line-height: 24px;
    }
}

@media screen and (max-width: 1035px) {
    .main-container {
        width:90%;
        margin:0 auto;
    }

    .main-container section {
        width:100%;
        margin:0 auto;
    }
}

@media screen and (min-width: 620px) and (max-width: 840px) {
    .breaker {
        display: block;
        width: 10px;
    }
}

@media screen and (max-width: 620px) {
  
  section header,
  section article {
    clear: both;
    padding-left: 0%;    
  }

  section header,
  section.me-myself-and-i header,
  section.me-myself-and-i article {
    padding-left: 0%;
  }

  section header,
  section article,
  section h1 {
      float: none;
      width: auto;
  }

    h1, h1 p {
      float: none;
      text-align: left;
    }

    section .fa-stack {
      float: left;
      margin-right:10px;
    }
}

@media screen and (max-width: 460px) {

    section h1 {
      font-size: 19px;
    }

    section article {
      padding-left: 5%;
    }

    section header,
    section.me-myself-and-i header,
    section.me-myself-and-i article {
      padding-left: 0%;
    }

    .wrapper .picture {
        width: 200px;
    }
}

@media screen and (max-width: 400px) {
    section li {
        padding:0 0 10px 0;
    }

    section li .bullet:after {
        border-left: 1px solid rgba(255, 255, 255, 0.15);
        bottom: 3px;
        content: "";
        display: block;
        height: auto;
        left: 6px;
        position: absolute;
        top: 25px;
    }
    
    section a {
        font-size:10px;
    }
}
